<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= greeting %> <%= username %>!</h1>
    

    <!-- <%=if(username=="Sam")%>
    <h1>hello sam</h1>
    <%=else%>
    <h1>hello member</h1> -->
    
</body>
</html>